body {
  background-color: white;
  color: black;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.container {
  padding: 0 2rem;
}

/* Intra-directory links */

.mobileMenuLinks {
  text-decoration: none;
  color: cadetblue;
  font-family: Garamond, sans-serif;
}

.HomeLink {
  text-decoration: none;
  color: cadetblue;
  padding-top: 0.25em;
  padding-left: 0.25em;
}

.inTextLinks,
.noLinkTitle {
  text-decoration: none;
  color: rgb(255, 154, 82);
}

h5 {
  font-family: "Crimson Pro", serif;
  color: rgb(0, 200, 255);
}

/* ###################### */
/* Styles for the navbar. */

#menuIconB {
  background-color: white;
  border-width: 0.2em;
  border-radius: 0.3em;
}

.menuIconDiv {
  width: 1em;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: cadetblue;
  margin: 0.2em 0;
}

.mmContent {
  text-align: center;
  color: cadetblue;
  height: 100%;
}

.mobileMenu {
  display: none;
}

nav {
  font-size: 1.3em;
  padding: 0.3em;
  background-color: whitesmoke;
  color: darkslategray;
  font-family: "Crimson Pro", serif;
}

.desktopNav {
  display: flex;
  justify-content: space-around;
}

.desktopNav a:link,
.desktopNav a:visited {
  text-decoration: none;
  color: darkslategray;
}

/* Banner styling */
#Banner {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: Georgia, serif;
  background-image: url("../public/Mountain\ banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#Banner a:link,
#Banner a:visited {
  text-decoration: none;
  color: rgb(60, 225, 225);
  text-shadow: -4px 4px 8px rgb(78, 78, 79);
}

#banner-text {
}

/* The container <div> - needed to position the desktop menu items */
.menuDivs {
  min-width: 20%;
  text-align: center;
  align-items: center;
  border: 0px;
  fill-opacity: 0;
}

#content {
  opacity: 0.65;
  border-radius: 2%;
  padding: 3.5em;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  background-color: rgb(231, 240, 255);
  text-align: justify;
  font-family: "Literata", Garamond;
}

.icon_container {
  display: flex;
  justify-content: space-around;
}

#projectTitle,
#centredContent {
  text-align: center;
}

li {
  font-family: sans-serif;
  font-size: 1em;
}

#content > p {
  font-size: 1em;
  font-family: sans-serif;
}

/* Styles for Projects landing page. */

.grid-container {
  display: grid;
  padding-top: 3rem;
  padding-left: 20%;
  padding-right: 20%;
  margin: 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.articleGrid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  border: none;
  border-radius: 0.2em;
  background-color: white;
  font-family: "Literata", Garamond;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardT {
  color: rgb(49, 153, 194);
  text-align: center;
  font-weight: 500;
  font-family: Garamond, sans-serif;
}

.articleGrid p {
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #content {
    margin: 5% 15%;
  }
  .dropdown-content {
    min-width: 150%;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
  }
}

/* ##################### */
/* ##################### */
/* ##################### */
@media screen and (max-width: 776px) {
  /* Removes the banner. */
  #Banner {
    background-image: url(../public/mountain_banner_mobile.jpg);
    height: 133px;
  }
  #banner-text {
    display: none;
  }

  #content {
    padding: 1em;
    margin: 1em;
    font-size: 0.9em;
    background-color: white;
  }

  .inTextLinks,
  .noLinkTitle {
    color: rgb(0, 191, 255);
  }

  .dropdown,
  .menuDivs {
    display: none;
    color: white;
  }

  nav {
    display: flex;
  }

  /* Spaces out my name and the menu icon. */
  .mobileMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
  }
}
