body {
  background-color: white;
  color: black;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

/* Intra-directory links */

.mobileMenuLinks {
  text-decoration: none;
  color: cadetblue;
  font-family: Garamond, sans-serif;
}

.desktopNavLinks {
  text-decoration: none;
  color: whitesmoke;
  font-family: sans-serif;
}

/* ###################### */
/* Styles for the navbar. */

#menuIconB {
  background-color: white;
  border-radius: 0.3em;
}

.menuIconDiv {
  width: 1em;
  height: 0.2em;
  background-color: lightslategray;
  margin: 0.2em 0;
}

.mmContent {
  text-align: center;
  color: cadetblue;
}

.mobileMenu {
  display: none;
}

nav {
  font-size: 1.3em;
  padding: 0.3em;
  background-color: cadetblue;
  color: white;
}

.desktopNav {
  display: flex;
  justify-content: space-around;
}

.desktopNav a:link, .desktopNav a:visited {
  text-decoration: none;
  color: whitesmoke;
  font-family: Garamond, sans-serif;
}


/* Banner styling */
#Banner {
  display: flex;
  justify-content: center;
  padding-top: 0.7em;
  font-family: Georgia, serif;
}
#Banner a:link, #Banner a:visited {
  text-decoration: none;
  color: lightskyblue;
}

/*Dropdown*/

/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  font-family: Garamond, sans-serif;
  font-style: bold;
  color: whitesmoke;
  padding: 0px;
  font-size: inherit;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown, .menuDivs {
  min-width: 20%;
  text-align: center;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: cadetblue;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0.9;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkcyan;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


#content {
  opacity: 0.65;
  padding: 3.5em;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  background-color: lightblue;
  text-align: justify;
}

#icon_container{
  display: flex;
  justify-content: space-around;
}

#projectTitle{
  text-align:center;
}

#content>p {
  font-family: sans-serif;
  font-size: 1.3em;
}

@media screen and (max-width: 1280px) {
  #content{
    margin: 5% 10%;
  }
  .dropdown-content {
    min-width: 150%;
  }
}

/* ##################### */
/* ##################### */
/* ##################### */
@media screen and (max-width: 480px) {

  /* Removes the banner. */
  #Banner{
    display: none;
  }

  #content {
    padding: 1em;
    margin: 1em;
    font-size: 0.9em;
    background-color: white;
  }

  .dropdown, .menuDivs {
    display: none;
    color: white;
  }

  nav {
    display: flex;
    margin-top: 0.5em;
  }

  /* Makes my name centered and changes the color. */  
  .desktopNavLinks {
    padding-top: 0.1em; 
    color: lightblue;
  }

  .menuIconDiv {
    background-color: skyblue;
  }
  /* Spaces out my name and the menu icon. */
  .mobileMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}